<!DOCTYPE html>
<html lang="en">
<head>
  <title>ZombiesTwoReadingList</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="UTF-8">
</head>
<body>
  <%= yield %>
</body>
